<br>

<div class="container">

    <div  class="jumbotron" style="margin: 20px;">
      <p class="lead">Korisničko ime: {{user.Username}}</p>
      <p class="lead">Ime: {{user.FirstName}}</p>
      <p class="lead">Prezime: {{user.LastName}}</p>
      <p class="lead">Imejl: {{user.Email}}</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn"  role="button" (click)="izmeniUser()">Izmeni podatke</a>
        <a class="btn btn-primary btn"  role="button" id = "btn_pass" (click)="izmeniPass()">Promeni šifru</a>
      </p>
    </div>

</div>


<ngx-smart-modal #myModal identifier="myModal">
  <h4 class="lead">Izmeni podatke</h4>

  <form class="form-group" [formGroup]="userForma" (ngSubmit)="izmeni()" style="margin: 5%">
      <div>
          <label for="username">Korisničko ime: </label>
          <input id="username" type="text" class="form-control" formControlName="Username">
      </div>
      <div>
          <label for="name">Ime: </label>
          <input id="name" type="text" class="form-control" formControlName="Firstname">
      </div>
      <div>
          <label for="lastname">Prezime: </label>
          <input id="lastname" type="text" class="form-control" formControlName="Lastname">
      </div>
      <div>
          <label for="mail">Imejl: </label>
          <input id="mail" type="text" class="form-control" formControlName="Email">
      </div>
      <button class="btn btn-primary btn" type="submit" style="margin-top: 30px">Izmeni</button>
  </form>

</ngx-smart-modal>

<ngx-smart-modal #myModal identifier="myModal2">
  <h4 class="lead">Izmeni šifru:</h4>

  <form class="form-group" [formGroup]="passForma" (ngSubmit)="izmeniPassword()" style="margin: 5%">
      <div>
          <label for="old_pass">Stara šifra:</label>
          <input id="old_pass" type="password" class="form-control" formControlName="OldPass">
      </div>
      <div>
          <label for="new_pass">Nova šifra: </label>
          <input id="new_pass" type="password" class="form-control" formControlName="NewPass">
      </div>
      <div>
        <label for="new_pass1">Potvrdite novu šifru:</label>
        <input id="new_pass1" type="password" class="form-control" formControlName="NewPass1">
      </div>
      <button class="btn btn-primary btn" type="submit" style="margin-top: 30px">Izmeni</button>
  </form>

</ngx-smart-modal>
