<div class="addDistance">
    <div class="centerCard">
        <div class="auth-wrapper">
            <form class="form-signin" [formGroup]="signinForm" (ngSubmit)="signInUser()">
                <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>


                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" formControlName="Email" placeholder="Enter email" required>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="Password" placeholder="Enter password"
                        required>
                </div>

                <div class="spaceForButton">
                    <button type="submit" class="btn btn-block btn-primary">Sign in</button>
                    <button class="btn btn-block btn-primary" (click)="navigateToSignUp()">Sign up instead</button>
                </div>
            </form>
        </div>
    </div>
</div>