<div class="addDistance">
    <div class="centerCard">
        <div class="auth-wrapper">
            <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
                <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" formControlName="Username" placeholder="Enter username"
                        required>
                </div>

                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control" formControlName="FirstName" placeholder="Enter name"
                        required>
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName="LastName" placeholder="Enter last name"
                        required>
                </div>

                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" class="form-control" formControlName="Email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="Password" placeholder="Password"
                        required>
                </div>

                <div class="spaceForButton">
                    <button type="submit" class="btn btn-block btn-primary">Sign up</button>
                    <button class="btn btn-block btn-primary" (click)="navigateToSignIn()">Sign in instead</button>
                </div>
            </form>

            

        </div>
    </div>
</div>