<div class="outer">
    <form class="form-signin" [formGroup]="terminiForm" (ngSubmit)="registerAppointment()">
        <div class="form-wrapper">
            <div class="form-group">
                <label> Teren: </label>
                <select class="form-select" formControlName="terrainId">
                    <option selected>Izaberite teren</option>
                    <option *ngFor="let t of terrains" value={{t._id}}> {{t.Name}} </option>
                </select>
            </div>
        </div>
    </form>
</div>

<app-calendar-view [currentTerrainId]="currentTerrainId" [currentPrice]="currentPrice"> </app-calendar-view>