<div class="container">

    <div class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-tereni-tab" data-bs-toggle="pill"
                data-bs-target="#v-pills-tereni" type="button" role="tab" aria-controls="v-pills-tereni"
                aria-selected="true">Tereni</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
                type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"
                (click)="getUsersObject()">Korisnici</button>

        </div>


        <div class="tab-content" id="v-pills-tabContent" style="width: 80vw;">
            <!-- Tereni tab -->
            <div class="tab-pane fade show active setwidth" id="v-pills-tereni" role="tabpanel"
                aria-labelledby="v-pills-tereni-tab">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                            (click)="refreshTerrains()" data-bs-target="#nav-home" type="button" role="tab"
                            aria-controls="nav-home" aria-selected="true">Prikaži sve</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                            type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Dodaj novi
                            teren</button>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">

                    <!-- Prikazi sve terene -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                        style="overflow-y:scroll; height: 70vh;">
                        <div *ngFor="let t of Tereni" class="jumbotron" style="margin: 20px;">
                            <p class="lead">Ime terena: {{t.Name}}</p>
                            <p class="lead">Id terena: {{t._id}}</p>
                            <p class="lead">Sport: {{t.Sport}}</p>
                            <p class="lead">Cena po satu: {{t.Price}} dinara</p>

                            <a class="btn btn-primary btn-sm" (click)="izmeniT(t)" role="button"
                                style="margin-right: 10px">Izmeni</a>
                            <a class="btn btn-danger btn-sm" (click)="obrisiT(t)" role="button">Obriši</a>
                            <hr class="my-4">
                        </div>
                    </div>

                    <!-- Dodaj novi teren -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <form class="form-group" [formGroup]="terreniForma" (ngSubmit)="noviTeren()"
                            style="margin-top: 25px; margin-left: 3%; margin-right: 50%;">
                            <div>
                                <label class="lead" for="name">Ime : </label>
                                <input class="lead" id="name" type="text" class="form-control" formControlName="Name">
                            </div>
                            <div>
                                <label class="lead" for="price">Cena : </label>
                                <input class="lead" id="price" type="number" class="form-control"
                                    formControlName="Price">
                            </div>
                            <div>
                                <label class="lead" for="sport">Sport : </label>
                                <input class="lead" id="sport" type="text" class="form-control" formControlName="Sport">
                            </div>
                            <button class="btn btn-primary btn" type="submit" style="margin-top: 20px">Dodaj</button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- Korisnici tab -->
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">


                <!-- drugi horizontalni navbar kad se klikne na korisnici tab pocinje od ovde -->

                <nav>
                    <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                        <button class="nav-link active" id="nav-home-tab2" data-bs-toggle="tab"
                            data-bs-target="#nav-home2" type="button" role="tab" aria-controls="nav-home2"
                            aria-selected="true" (click)="getUsersObject()">Prikaži sve</button>
                        <button class="nav-link" id="nav-profile-tab2" data-bs-toggle="tab"
                            data-bs-target="#nav-profile2" type="button" role="tab" aria-controls="nav-profile2"
                            aria-selected="false">Izlistaj termine po korisniku</button>

                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent2">


                    <div class="tab-pane fade show active" id="nav-home2" role="tabpanel"
                        aria-labelledby="nav-home-tab2" style="overflow-y:scroll; height: 70vh;">

                        <div *ngFor="let u of Users" class="jumbotron" style="margin: 20px;">
                            <p class="lead">Korisničko ime: {{u.Username}}</p>
                            <p class="lead">Ime: {{u.FirstName}}</p>
                            <p class="lead">Prezime: {{u.LastName}}</p>
                            <p class="lead">Imejl: {{u.Email}}</p>
                            <p class="lead">Nivo dozvola: {{u.Role}}</p>
                            <a class="btn btn-primary btn-sm"  role="button" style="margin-right: 10px"
                             (click)="izmeniK(u)">Izmeni</a>
                            <a class="btn btn-primary btn-sm"  role="button"  (click)="izmeniPass(u)" style="margin-right: 10px">Promeni šifru</a>
                            <a class="btn btn-primary btn-sm"  role="button" style="margin-right: 10px"
                             (click)="prikaziMejl(u)">Pošalji mejl</a>
                            <hr class="my-4">

                        </div>
                    </div>


                    <div class="tab-pane fade" id="nav-profile2" role="tabpanel" aria-labelledby="nav-profile-tab2">
                        <!-- Pretraga -->
                        <form class="form-group" [formGroup]="pretragaForma" (ngSubmit)="pretrazi()"
                            style="margin-top: 25px; margin-left: 3%; margin-right: 50%;">

                            <div>
                                <label class="lead" for="name">Pretraga po korisničkom imenu: </label>
                                <input class="lead" id="name" type="text" class="form-control"
                                    formControlName="niskaPretrage">


                                <button class="btn btn-primary btn" type="submit"
                                    style="margin-top: 5px">Pretraži</button>
                            </div>
                            <br>

                        </form>

                        <div *ngFor="let r of Reservations" class="jumbotron" style="margin-left: 3%;">
                            <p class="lead">Korisničko ime: {{r.username}}</p>
                            <p class="lead">Početak: {{dateToLocalString(r.reservation_date_time)}}</p>
                            <p class="lead">Kraj: {{dateToLocalString(r.end_date_time)}}</p>
                            <p class="lead">Ime Terena: {{terrainIdToName[r._terrain_id]}}</p>

                            <a class="btn btn-danger btn-sm" (click)="obrisiRez(r._id)" role="button">Obriši</a>

                            <hr class="my-4">

                        </div>

                    </div>



                </div>
            </div>

        </div>


    </div>

    <ngx-smart-modal #myModal identifier="myModal">
        <h4 class="lead">Izmeni teren</h4>

        <form class="form-group" [formGroup]="terreniForma2" (ngSubmit)="izmeniTeren()" style="margin: 5%">
            <div>
                <label for="id">Id: </label>
                <input id="id" type="text" class="form-control" formControlName="Id">
            </div>
            <div>
                <label for="name">Ime: </label>
                <input id="name" type="text" class="form-control" formControlName="Name">
            </div>
            <div>
                <label for="price">Cena: </label>
                <input id="price" type="number" class="form-control" formControlName="Price">
            </div>
            <div>
                <label for="sport">Sport: </label>
                <input id="sport" type="text" class="form-control" formControlName="Sport">
            </div>
            <button class="btn btn-primary btn" type="submit" style="margin-top: 30px">Izmeni</button>
        </form>

    </ngx-smart-modal>


    <ngx-smart-modal #myModal identifier="myModal1">
      <h4 class="lead">Izmeni podatke</h4>

      <form class="form-group" [formGroup]="userForma" (ngSubmit)="izmeniKorisnika()" style="margin: 5%">
          <div>
              <label for="username">Korisničko ime: </label>
              <input id="username" type="text" class="form-control" formControlName="Username">
          </div>
          <div>
              <label for="name">Ime: </label>
              <input id="name" type="text" class="form-control" formControlName="Firstname">
          </div>
          <div>
              <label for="lastname">Prezime: </label>
              <input id="lastname" type="text" class="form-control" formControlName="Lastname">
          </div>
          <div>
              <label for="mail">Imejl: </label>
              <input id="mail" type="text" class="form-control" formControlName="Email">
          </div>
          <button class="btn btn-primary btn" type="submit" style="margin-top: 30px">Izmeni</button>
      </form>

    </ngx-smart-modal>

    <ngx-smart-modal #myModal identifier="myModal3">
      <h4 class="lead">Izmeni šifru:</h4>

      <form class="form-group" [formGroup]="passForma" (ngSubmit)="izmeniPassword()" style="margin: 5%">

          <div>
              <label for="new_pass">Nova šifra: </label>
              <input id="new_pass" type="password" class="form-control" formControlName="NewPass">
          </div>

          <button class="btn btn-primary btn" type="submit" style="margin-top: 30px">Izmeni</button>
      </form>

    </ngx-smart-modal>

    <ngx-smart-modal #myModal identifier="myModal4" >
      <h4 class="lead">Izmeni šifru:</h4>

      <form class="form-group" [formGroup]="mejlForma"  style="margin: 5%" (ngSubmit)="posaljiMejl()">

          <div>
              <label for="subject">Naslov: </label>
              <input id="subject" type="text" class="form-control" formControlName="Subject">
              <label for="body">Sadržaj: </label>
              <textarea id="body"  rows="15" cols="100" class="form-control" formControlName="Body">
                </textarea>
          </div>

          <button class="btn btn-primary btn" type="submit" style="margin-top: 30px">Pošalji</button>
      </form>

    </ngx-smart-modal>
